@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local(""),
  url("../fonts/lato-regular.woff2")
  format("woff2");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  src: local(""),
  url("../fonts/lato-semibold.woff2")
  format("woff2");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: local(""),
  url("../fonts/lato-bold.woff2")
  format("woff2");
}


