@import "../../../assets/style/colors";
@import "../../../assets/style/fonts";
@import "../../../assets/style/mixin";

.pagination {
  display: flex;
  column-gap: 20px;
  max-width: 50%;
  &__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    flex-grow: 1;
    overflow: hidden;
  }
  &__link {
    border: 1px solid $darkPurple;
    border-radius: 100%;
    display: flex;
    font-size: inherit;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    color: $darkBg;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    &_active {
      color: red;
    }
  }
  &__btn {
    border: 0px solid black;

    font-size: inherit;
    &_next {
      position: relative;
      &::after {
        content: ">";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
      }
    }
    &_prev {
      position: relative;
      &::after {
        content: "<";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
      }
    }
  }
}
