@import "../../assets/style/colors";
@import "../../assets/style/fonts";
@import "../../assets/style/mixin";

.searchForm {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  border-radius: 10px;
  border: 1px solid $darkPurple;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 8px;
  width: 100%;
  @include tablet {
    width: 400px;
  }

  &__input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
  }
  &__btn {
    border: none;
    height: 100%;
    font-size: inherit;
  }
}
