@import "../../../assets/style/colors";
@import "../../../assets/style/fonts";
@import "../../../assets/style/mixin";

.controls {
  padding-top: 15px;
  padding-bottom: 7px;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 20px;
  &__btn {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border: 1px solid $darkPurple;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 7px;
  }
}
